/*
Project Name   : Form Register
Project Author : hamit Mızrak
Project Date   : 12/10/2023
Project Version: V1.0.0
 */


 /* **************************************** */
 /* Common Property */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --template_bg_color: #000000;
    --template_color: #fff;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    color: var(--template_color);
    background-color: var(--template_bg_color);
}

a {}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

 /* **************************************** */
 /* Form */

 /* heading */
 .heading{
    text-align: center;
    text-transform: uppercase;
    margin-top: 3rem;
 }

  /* container */
  #container_id{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0.9rem;

    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: center; /* X Düzleminde */
    align-items: center; /* Y Düzleminde*/
    flex-wrap: nowrap; /* responsive olsun*/

    /* box-shadow */
    -webkit-box-shadow: 13px 24px 26px 0px rgba(255,255,255,0.72);
    -moz-box-shadow: 13px 24px 26px 0px rgba(255,255,255,0.72);
    box-shadow: 1px 2px 26px 0px rgba(255,255,255,0.72);
  }

  /* icon */
  .icon_class{
    color:rgb(125, 125, 251);
    font-size: 0.8rem;
    margin-left:0.3rem;
    position: absolute;
    margin-top:0.1rem;
  }

  /* input */
  /* input Focus */

  /* button */
  /* button:hover */